 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
    font-family:"Plus Jakarta Sans", sans-serif;
            text-transform: capitalize;
 }
 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 5px;
            background-color: #e9e9e9;
            font-family:"Plus Jakarta Sans", sans-serif;
            text-transform: capitalize;
        }
         .side-bar{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color:azure;
            max-height: 90vh;
            width: 50vh;
            border:2px solid gray;
            overflow: hidden;
        }
        .plan {
            display: grid;
            grid-template-columns: repeat(11, minmax(50px, 1fr));
            grid-template-rows: repeat(8, minmax(50px, 1fr));
            background-image:url("./images/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            border: solid black;
            height: auto;
            width: 100%;
            max-width: 1000px;
            min-height: 80vh;
            border-radius: 15px;
        }

        .container1 {
            display:flex;
            padding: 10px;
            gap:5px;
            flex-direction:column;
            background-color: aquamarine;
            grid-column: 1/4;
            grid-row: 1/4;
            justify-content: center;
            align-items: center;
            border: solid #333 4px;
            border-radius: 5px;
        }

        .container2 {
            display:flex;
            padding: 10px;
            gap:5px;
            flex-direction:column;
            background-color: blue;
            grid-column: 1/4;
            grid-row: 4/9;
            justify-content: center;
            align-items: center;
            border: solid #333 4px;
            border-radius: 5px;
        }

        .container3 {
            display:flex;
            padding: 10px;
            gap:5px;
            flex-direction:column;
            background-color: brown;
            grid-column: 6/9;
            grid-row: 1/4;
            justify-content: center;
            align-items: center;
            border: solid #333 4px;
            border-radius: 5px;
        }

        .container4 {
            display:flex;
            padding: 10px;
            gap:5px;
            flex-direction:column;
            background-color: chocolate;
            grid-column: 9/12;
            grid-row: 1/4;
            justify-content: center;
            align-items: center;
            border: solid #333 4px;
            border-radius: 5px;
        }

        .container5 {
            display:flex;
            padding: 10px;
            gap:5px;
            flex-direction:column;
            background-color: beige;
            grid-column: 6/9;
            grid-row: 6/9;
            justify-content: center;
            align-items: center;
            border: solid #333 4px;
            border-radius: 5px;
        }

        .container6 {
            display:flex;
            padding: 10px;
            gap:5px;
            flex-direction:column;
            background-color: cadetblue;
            grid-row: 6/9;
            grid-column: 9/12;
            justify-content: center;
            align-items: center;
            border: solid #333 4px;
            border-radius: 5px;
        }

        .btn {
            display: flex;
            width: 40px;
            height: 20px;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
            text-align: center;
            border: none;
            background-color: #0A7FFF;
        }
        .btn:hover {
            background-color: #3DB5FF;
        }
        .btn:active {
            background-color: #1A9EEB;
        }

        #menu {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;

        }

        #icn-menu {
            width: 40px;
            height: 40px;
        }
        .button{
            padding-right: 50px;
        }
        .rooms{
            display: flex;

        }
        .btnn {
            padding:0;
            margin: 0;
        }
        .container h1{
            text-align: center;
            font-size: 25px;
        }
        #add-staff{
            padding: 10px;
            color:white;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        #add-staff:hover{
            background-color: #45a049;
        }
        #add-staff:active{
            background-color: #2e7d32;
        }
        #close {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;
            font-size: 25px;
            background-color: red;
            color:white;
            border:none;
            border-radius: 5px;
        }
        #submit{
            font-size: 25px;
            padding:10px;
            color:white;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        #submit:hover{
            background-color: #45a049;
        }
        #submit:active{
            background-color: #2e7d32;
        }
        .contain-btn{
            padding: 30px;
        }
        .popup {
            display:flex;
            justify-content: center;
            align-items: center;
            inset: 0;
            position: fixed;
            background-color: rgba(0,0,0,0.6);
            z-index: 9999;
        }
        .popup-cont{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background:white; 
            padding:30px; 
            height: auto;
            max-height:90vh;
            max-width: 480px;
            width: 90%;
            gap: 15px;
            border-radius:10px;
            overflow: hidden;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-height: 60vh;
            overflow-y:scroll;
            
        }
        .inputs{
            display:flex;
            justify-content: center;
            flex-direction: column;
            width:90% ;
            padding: 20px; 
            
            
        }
        .inputs input{
            display: flex;
            width: 93%;
            height: 40px;
            padding: 10px;
            padding-left: 20px;
            /* border-radius: 20px; */
        }
        .inputs label{
            padding-left:20px;
            padding-bottom: 15px;
        }
        .inputs select{
            width:100%;
            padding: 10px;
            height: 60px;
            padding-left: 20px;
            /* border-radius: 20px; */
        }
        .btn-s{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 70px;
        }
       #un-staff{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45vh;
        background-color:azure;
        border-radius: 20px;
        padding: 10px;
        gap: 10px;
        height: auto;
        max-height: calc(90vh - 100px);;
        overflow-y: auto;
       }
       .img img{
        width: 70px;
        height:70px;
        border-radius: 50px;
       }
       .img{
        border-radius: 20px;
       }
       .profil{
        display: flex;
        gap: 40px ;
        align-items: center;
        padding: 20px;
        width: 80%;
        background-color:#45a049;
        border-radius: 20px;
       }
       .nam{
        width: 80%;
       }
       .nam h2{
        margin: 6px;
       }
       .exper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        width:90% ;
       }
       .exper input{
        padding: 20px;
        font-size: 15px;
        
       }
       .exper label{
        padding:20px;
       }