 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            padding: 5px;
            background-color: #e9e9e9;
        }
         .side-bar{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color:azure;
            height: 90vh;
            width: 60vh;
            border:2px solid gray;
        }
        .plan {
            display: grid;
            grid-template-columns: repeat(11, minmax(50px, 1fr));
            grid-template-rows: repeat(8, minmax(50px, 1fr));
            background-image:url("./images/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border: solid black;
            height: auto;
            width: 100%;
            max-width: 1000px;
            min-height: 80vh;
            border-radius: 15px;
        }

        .container1 {
            display:flex;
            padding: 10px;
            gap:5px;
            flex-direction:column;
            background-color: aquamarine;
            grid-column: 1/4;
            grid-row: 1/4;
            justify-content: center;
            align-items: center;
            border: solid #333 4px;
            border-radius: 5px;
        }

        .container2 {
            display:flex;
            flex-direction:column;
            background-color: blue;
            grid-column: 1/4;
            grid-row: 4/9;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .container3 {
            display:flex;
            flex-direction:column;
            background-color: brown;
            grid-column: 6/9;
            grid-row: 1/4;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .container4 {
            display:flex;
            flex-direction:column;
            background-color: chocolate;
            grid-column: 9/12;
            grid-row: 1/4;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .container5 {
            display:flex;
            flex-direction:column;
            background-color: beige;
            grid-column: 6/9;
            grid-row: 6/9;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .container6 {
            display:flex;
            flex-direction:column;
            background-color: cadetblue;
            grid-row: 6/9;
            grid-column: 9/12;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .btn {
            display: flex;
            width: 40px;
            height: 20px;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
            background-color: rgb(67, 67, 254);
        }
        header h1 {
            display: flex;
            padding-left: 40px;
        }

        #menu {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;

        }

        #icn-menu {
            width: 40px;
            height: 40px;
        }
        .button{
            padding-right: 50px;
        }
        .rooms{
            display: flex;

        }
        .btnn {
            padding:0;
            margin: 0;
        }
       
        