 body {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            gap: 30px;
            padding: 30px;
        }

        .plan {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(6, 1fr);
            background-color: burlywood;
            border: solid black;
            height: 80%;
            width: 70%;
            max-width: 200vh;
            max-height:65vh;
            
        }

        .container1 {
            display:flex;
            flex-direction:column;
            background-color: aquamarine;
            grid-column: 1/3;
            grid-row: 1/3;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .container2 {
            display:flex;
            flex-direction:column;
            background-color: blue;
            grid-column: 1/3;
            grid-row: 3/7;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .container3 {
            display:flex;
            flex-direction:column;
            background-color: brown;
            grid-column: 5/7;
            grid-row: 1/3;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .container4 {
            display:flex;
            flex-direction:column;
            background-color: chocolate;
            grid-column: 7/9;
            grid-row: 1/3;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .container5 {
            display:flex;
            flex-direction:column;
            background-color: beige;
            grid-column: 5/7;
            grid-row: 5/7;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .container6 {
            display:flex;
            flex-direction:column;
            background-color: cadetblue;
            grid-row: 5/7;
            grid-column: 7/9;
            justify-content: center;
            align-items: center;
            border: solid black 5px;
        }

        .btn {
            display: flex;
            width: 40px;
            height: 20px;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
            background-color: rgb(67, 67, 254);
        }
        header h1 {
            display: flex;
            padding-left: 40px;
        }

        #menu {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;

        }

        #icn-menu {
            width: 40px;
            height: 40px;
        }
        .button{
            padding-right: 50px;
        }
        .rooms{
            display: flex;

        }
        .btnn {
            padding:0;
            margin: 0;
        }
        .side-bar{
            display: flex;
            flex-direction: column;
            
            background-color:azure;
            height: 65vh;
            width: 40vh;
            border:solid gray;
            border-radius: 30px;
        }
        