 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     font-family: "Plus Jakarta Sans", sans-serif;
     text-transform: capitalize;
 }

 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     padding: 5px;
     padding-top: 50px;
     gap: 7px;
     background-color: #e9e9e9;
     font-family: "Plus Jakarta Sans", sans-serif;
     text-transform: capitalize;
 }
 header{
    display: flex;
    position: fixed;
    top: 0;
    background: #020024;
    background: linear-gradient(0deg,rgba(2, 0, 36, 0) 10%, rgb(255, 255, 255) 19%);
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
 }
 header h1{
    font-size: 22px;
 }

 .side-bar {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     background-color: azure;
     height: 400px;
     width: 400px;
     border: 2px solid gray;
     overflow: hidden;
 }

 .plan {
    width: 90vw;              
    max-width: 700px;             
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #f5f3f0;
    border: solid black;
    border-radius: 15px;
}


 .container1 {
     display: flex;
     grid-column: 1/4;
     grid-row: 1/4;
 }

 .container2 {
     display: flex;
     grid-column: 1/4;
     grid-row: 4/9;

 }

 .container3 {
     display: flex;
     grid-column: 6/9;
     grid-row: 1/4;
 }

 .container4 {
     display: flex;
     grid-column: 9/12;
     grid-row: 1/4;
 }

 .container5 {
     display: flex;
     grid-column: 6/9;
     grid-row: 6/9;
 }

 .container6 {
     display: flex;
     grid-row: 6/9;
     grid-column: 9/12;
 }

 .container {
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 20px;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    border: solid #333 4px;
    border-radius: 5px;
    box-sizing: border-box;
 }

 .btn {
     display: flex;
     width: 25px;
     height: 25px;
     justify-content: center;
     align-items: center;
     color: white;
     cursor: pointer;
     text-align: center;
     border: none;
     border-radius: 40px;
     background-color: #0A7FFF;
     opacity: 0.7;
 }

 .btn:hover {
     background-color: #3DB5FF;
 }

 .btn:active {
     background-color: #1A9EEB;
 }

 #menu {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 50px;
     width: 50px;

 }

 #icn-menu {
     width: 40px;
     height: 40px;
 }

 .button {
     padding-right: 50px;
 }

 .rooms {
     display: flex;

 }

 .container h1 {
     text-align: center;
     font-size: 25px;
 }

 #add-staff {
     padding: 10px;
     color: white;
     background-color: #4CAF50;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 #add-staff:hover {
     background-color: #45a049;
 }

 #add-staff:active {
     background-color: #2e7d32;
 }

 .close {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 10px;
     font-size: 25px;
     background-color: #E74C3C;
     color: white;
     border: none;
     border-radius: 5px;
 }

 .close:hover {
     background-color: #FF4C4C;
 }

 .close:active {
     background-color: #C0392B;
 }

 #submit {
     font-size: 25px;
     padding: 10px;
     color: white;
     background-color: #4CAF50;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 #submit:hover {
     background-color: #45a049;
 }

 #submit:active {
     background-color: #2e7d32;
 }

 .contain-btn {
     padding: 30px;
 }

 .popup {
     display: flex;
     justify-content: center;
     align-items: center;
     inset: 0;
     position: fixed;
     background-color: rgba(0, 0, 0, 0.6);
     z-index: 9999;
     animation: popups 0.3s ease forwards;
 }

 .popup-cont {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     background: white;
     padding: 30px;
     height: 450px;
     max-width: 480px;
     width: 90%;
     gap: 15px;
     border-radius: 10px;
     overflow: hidden;
 }

 form {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100vh;
     padding: 20px;
     overflow-y: scroll;


 }

 .inputs {
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 90%;
     padding: 20px;
 }

 .inputs input {
     display: flex;
     width: 93%;
     height: 40px;
     padding: 10px;
     padding-left: 20px;
     /* border-radius: 20px; */
 }

 .inputs label {
     padding-left: 20px;
     padding-bottom: 15px;
 }

 .inputs select {
     width: 100%;
     padding: 10px;
     height: 60px;
     padding-left: 20px;
     /* border-radius: 20px; */
 }

 .btn-s {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     gap: 70px;
 }

 #un-staff {
     display: flex;
     width: 97%;
     flex-direction: column;
     align-items: center;
     background-color: azure;
     border-radius: 20px;
     padding: 10px;
     gap: 10px;
     height: auto;
     max-height: calc(90vh - 100px);
     overflow-y: auto;
 }

 .img img {
     height: 50px;
     border-radius: 50px;
 }

 .img {
     border-radius: 20px;
 }

 .profil {
     display: flex;
     gap: 10px;
     align-items: center;
     padding: 15px;
     width: 70%;
     border-radius: 20px;
     cursor: pointer;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
 }

 .nam {
     width: 80%;
 }

 .nam h2 {
     margin: 6px;
     font-size: 17px;
 }

 .exper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 10px;
     width: 100%;
 }

 .exper input {
     padding: 20px;
     font-size: 15px;
 }

 .exper label {
     padding: 20px;
 }

 .info-worker {
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 20px;
     max-height: 400px;
     overflow-y: auto;
     padding: 20px;

 }

 #exp {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .info-worker img {
     width: 100px;
     height: 100px;
     background-color: aliceblue;
     border-radius: 50px;
 }

 .show {
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
     font-size: 18px;
     gap: 20px;
 }

 #employ {
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
     max-height: 500px;
     gap: 10px;
     overflow-y: auto;
 }

 .adding {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     border-radius: 40px;
     background-color: #007BFF;
     color: white;
     border: none;
 }

 .adding:hover {
     background-color: #0056D2;
 }

 .adding:active {
     background-color: #003C99;
 }

 @keyframes popups {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }
 .wker {
     position: relative;
     display: flex;
     width: 40px;
     height: 40px;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
 }

 .wker img {
     width: 30px;
     height: 30px;
     border-radius: 30px;
 }

 .btnns {
     display: flex;
     width: 11px;
     height: 11px;
     justify-content: center;
     align-items: center;
     background-color: #E74C3C;
     border-radius: 20px;
     font-size: 10px;
     position: absolute;
     top: 0px;
     right: 0;
     border: none;
 }

 .btnns:hover {
     background-color: #FF4C4C;
 }

 .btnns:active {
     background-color: #C0392B;
 }

 #addexp {
     background-color: #0A7FFF;
     border: none;
     color: white;
     cursor: pointer;
     padding: 10px;
     font-size: 25px;
     border-radius: 5px;
 }

 #addexp:hover {
     background-color: #0056D2;
 }

 #addexp:active {
     background-color: #003C99;
 }
 .ctnr{
    display:flex;
    flex-wrap: wrap;
 }

 @media (max-width: 1023px) and (max-height: 768px) {
     body {
         font-size: 40%;
         overflow-y: hidden;
         height: auto;

     }

     .plan {
         display: grid;
         grid-template-columns: repeat(11, 40px);
         grid-template-rows: repeat(8, 40px);
         background-color: #f5f3f0;
         border: solid black;
         border-radius: 15px;
     }

     .side-bar {
         width: 200px;
         height: 320px;
     }

     .popup-cont {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         background: white;
         padding: 30px;
         height: 80%;
         width: 400px;
         gap: 15px;
         border-radius: 10px;
         overflow: hidden;
     }

     .inputs {
         display: flex;
         justify-content: center;
         flex-direction: column;
         width: 90%;
         padding: 20px;
     }

     .exper input {
         width: 86%;
     }

     .exper label {
         padding-left: 20px;
         padding-bottom: 5px;
         font-size: 14px;
     }

     .inputs input {
         display: flex;
         width: 90%;
         height: 20px;
         padding: 10px;
         padding-left: 20px;
         /* border-radius: 20px; */
     }

     .inputs label {
         padding-left: 20px;
         padding-bottom: 5px;
         font-size: 14px;
     }

     .inputs select {
         width: 101%;
         padding: 10px;
         height: 45px;
         padding-left: 20px;
     }

     .btn-s {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         gap: 60px;
     }

     .close {
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         padding: 5px;
         font-size: 15px;
         background-color: #E74C3C;
         color: white;
         border: none;
         border-radius: 5px;
     }

     #submit {
         font-size: 15px;
         padding: 5px;
         color: white;
         background-color: #4CAF50;
         border: none;
         border-radius: 5px;
         cursor: pointer;
     }

     #addexp {
         background-color: #0A7FFF;
         border: none;
         color: white;
         cursor: pointer;
         padding: 7px;
         font-size: 15px;
         border-radius: 5px;
     }


 }
 @media (max-width: 1280px) {
    .plan {
        max-width: 600px;
        font-size: 10px;
    }
    .ctnr{
        height:70px;
        justify-content: center;
    }
    .container{
        padding: 5px;
    }
    #un-staff{
        height:300px;
    }
}
@media (max-width: 1023px) {
    body {
        flex-direction: column-reverse;
        gap: 10px;
        overflow-y: auto;
    }

    .plan {
        height: 400px;
        max-width: 700px;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .side-bar {
        width: 90vw;
        height: 400px;
    }
}
@media (max-width: 768px) {
    .plan {
        max-width: 420px;
    }
}
@media (max-width: 767px) {
    body {
        flex-direction: column-reverse;
        height: auto;
        overflow-y: auto;
    }

    .plan {
        width: 95vw;
        max-width: none;
        height:300px;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    .container{
        font-size: 8px;
        justify-content: space-between;
        padding: 3px;
    }
    .btn{
        width: 10px;
        height: 10px;
        font-size: 8px;
    }
    .wker{
        width: 20px;
        height:20px;
    }
    .wker img{
        width:15px;
        height:15px;
    }
    .btnns{
        padding: 2px;
        width:5px;
        height:6px;
        font-size: 5px;
        border-radius: 20px;
    }

    .side-bar {
        width: 95vw;
        height: 300px;
    }
    .profil h2{
        font-size: 12px;
    }
}